.test-summary-MAIN {
	background-color: #f4f5de;
}

.test-summary-ADV {
	background-color: #faf2f1;
}

#instruction-container {
	overflow: auto;
	height: 500px;
	width: 60%;
	padding: 10px;
	margin: 10px; text-align : left;
	border: 1px solid #eee;
	text-align: left;
	font-size:16px;
}

#instruction-container strong {
    color:red;
}

#instruction-container h4 {
    color:blue;
}

#ins-nested-list {
   list-style: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -1em;
}

#ins-nested-list li {
	text-indent: 5px;
}

/* Style for test interface */
#section-tab-panel {
    width:100%;
    height:60px;
    background-color: #f4f4f9;
    padding-left:20px ;
    padding-top:7px;
}

#timer {
    padding-left:10px;
    padding-right:10px;
    margin:0px;
    
    line-height: 40px;
    text-align:center;
    font-size:30px;
    font-family:Courier New;
    font-style:normal;
    font-weight:normal;
}

#split-pane {
    width: 100%;
    height: calc(100vh - 32px - 60px);

    display: flex;
}

#question-display-panel {
    position:relative;
    width: 75%;
    height: 100%;
    background-color: green;
}

#question-palette-panel {
    position:relative;
    width: 25%;
    height: 100%;
    border-style:hidden;
    border-left-style:solid;
    border-color:#f4f4f4;
    border-width:3px;
}

#pane-toggle-tab {
    position: absolute;
    right: 0px;
    top: calc( 50% - 50px );
    width: 25px;
    height: 60px;
    background-color: #efeef1;
    
    line-height: 60px;
    text-align: center;
    font-size:25px; 
}

#back-next-submit-panel {
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;
    background-color:#f4f4f9;
    padding-left:20px;
    padding-right:20px;
    padding-top:11px;
}

#question-action-panel {
    position:absolute;
    bottom:70px;
    width:100%;
    height:70px;
    background-color:#ffffff;
    padding-left:20px;
    padding-top:11px;
    border-style:hidden;
    border-top-style:solid;
    border-color:#f4f4f4;
    border-width:3px;
}

#question-display-scroll-pane {
    position:relative;
    width:100%;
    height:calc( 100% - 60px - 60px );
    background-color:#ffffff;
    padding:10px;
    overflow:auto;
}

#question-display-scroll-pane h3 {
    border-style:hidden;
    border-bottom-style:solid;
    border-color:#f4f4f4;
    border-width:1px;
    margin-bottom:20px;
    padding-bottom:10px;
}

#q-for-attempt {
    font-size: 18px;
}

#scroll-top {
    position: relative;
    float:right;
    right: 0px;
    font-size: 40px;
    bottom: 10px;
    color: cornflowerblue;
}

#scroll-bottom {
    position: absolute;
    right: 0px;
    font-size: 40px;
    top: 10px;
    color: cornflowerblue;
}

.action-btn {
    margin-left:5px;
    margin-right:5px;
    border-radius:0px;
}

#attempt-stat-panel {
    width:100%;
    height:200px;
    background-color:#fff;
    padding:15px;
    font-size:17px;
}

#attempt-stat-panel td {
    padding:7px;
}

#question-control-dashboard {
    position:relative;
    width:100%;
    height:calc( 100% - 200px ) ;
    background-color:white;
    padding:10px;
    overflow:auto;
}

/* These are for in note display like instructions */
.stat-icon-small {
    background: url(/img/questions_icons_sprite.png) no-repeat;
    float: left;
    width: 29px;
    height: 29px;
    margin-right: 10px;
}

.answered {
    background-position: -7px -55px;
}

.not-answered {
    background-position: -42px -56px;
}

.not-visited {
    background-position: -107px -56px;
}

.review {
    background-position: -75px -54px;
}

.review-answered {
    background-position: -9px -87px;
}

/* These are for showing status of answered questions in palette */
.ans-stat-symbol {
    background: url(/img/questions_icons_sprite.png) no-repeat;
    line-height: 38px;
    text-align: center;
    padding-left: 0px;
    margin-right: 10px;
    float: left;
    width: 43px;
    height: 38px;
    color: white;
}

.stat-not-visited {
    background-position: -479px -16px;
}

.stat-not-answered {
    background-position: -341px -16px;
}

.stat-attempted {
    background-position: -292px -16px;
}

.stat-marked-for-review {
    background-position: -387px -16px;
}

.stat-ans-and-marked-for-review {
    background-position: -435px -16px;
}

/* These are for rendering q control button backgrounds. */
.q-control {
    background: url(/img/questions_icons_sprite.png) no-repeat;
    line-height: 40px;
    text-align: center;
    padding: 0px;
    margin:5px;
    float: left;
    width: 45px;
    height: 40px;
    color: white;
    font-size:18px;
    border-color:white;
}

.q-not-visited {
    background-position: -209px -124px;
}

.q-not-answered {
    background-position: -341px -16px;
}

.q-attempted {
    background-position: -292px -16px;
}

.q-marked-for-review {
    background-position: -387px -16px;
}

.q-ans-and-marked-for-review {
    background-position: -435px -16px;
}

.question-listing {
	font-size: 16px;
	padding:10px;
	padding-bottom: 25px;
    border-style:hidden;
    border-bottom-style:solid;
    border-color:#f4f4f4;
    border-width:3px;
}

.question-listing h4 {
	margin-bottom:20px;
	color:blue;
}

#sca-response-ui {
	font-size:20px;
	margin-top: 50px;
	padding-left: 30px;
	padding-right: 30px
}

#pre-submission-summary {
	text-align:center;
	height:400px;
}

#pre-submission-summary table {
	font-size:16px;
}

#test-result {
	text-align:center;
}

#test-result h2 {
	margin-bottom:30px;
}

#test-result table {
	margin-bottom:30px;
}
