.topic-sel-dlg-row {
	background-color:#f5f5a0;
	height:25px;
}

.topic-dlg-row {
    background-color:#FFFFFF;
    height:25px;
}

.test-config-panel-heading {
	padding:5px 10px ;
	background-color:#d0feff !important;
}

.test-config-panel-body {
	padding:5px ;
}

.question-select {
	font-family:"Courier New", Courier, monospace ;
}