<div align="center">
    <h4>Instructions for JEE Advanced</h4>
    <div>
        <button class="btn btn-info btn-md"
                ng-click="startTest( 'adv' )">
            Start test
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
    <div id="instruction-container">
        <div>
            <div>
                <div>
                    <h4>General Instructions:</h4>
                </div>
                <ul>
                    <li>Total duration of examination is <strong>
                    {{$parent.activeTest.duration}} minutes</strong></li>
                    <li>Questions in each subject are presented in the following sections</li>
                    <ul>
                        <li ng-repeat="section in sectionDetails">{{section}} questions</li>
                    </ul>
                    <li>The on-screen computer countdown timer on the top right corner of 
                        computer screen will display the remaining time (in minutes) available 
                        to you for completing the paper. When the on-screen countdown timer 
                        reaches zero, the paper will end by itself – No input from your side 
                        will be accepted after the timer reaches zero and whatever answers 
                        have been saved by you will automatically be submitted for evaluation.</li>
                        
                    <li>The “Submit” button present at the bottom right corner of the screen 
                        will remain deactivated during the entire 180 minutes duration of the paper. 
                        Note that the “Submit” button will be activated only after the timer has 
                        reached zero and the saved responses will be automatically submitted. 
                        It is NOT required to click on “Submit” after the timer has reached zero.</li>
                        
                    <li>The Question Palette displayed on the right side of screen
                        will show the status of each question using one of the following
                        symbols:
                        <ul id="ins-nested-list">
                          <li><span class="stat-icon-small not-visited"></span> 
                              "Not Visited"- You have not visited the question yet.</li>
                          <li><span class="stat-icon-small not-answered"></span> 
                              "Not Answered" - You have not answered the question.</li>
                          <li><span class="stat-icon-small answered"></span> 
                              "Answered" - You have answered the question.</li>
                          <li><span class="stat-icon-small review"></span> 
                              "Marked for Review" - You have NOT answered the question but have marked the question for review.</li>
                          <li><span class="stat-icon-small review-answered"></span> 
                              "Answered and Marked for Review"- The question(s) "Answered and Marked for Review" will be considered for evaluation.</li>
                        </ul>
                    </li>
                    <li>The Marked for Review status for a question simply
                        indicates that you would like to look at that question again. If a
                        question is answered and Marked for Review, your answer for that
                        question will be considered for evaluation.</li>
                    <li>You can click on the "&gt;" arrow symbol, which appears to the left of question palette, 
                        to collapse the question palette thereby maximizing the question window. To view the 
                        question palette again, you can click on "&lt;" symbol which appears on the right side of question window.</li>
                    <li>Before you start the paper, select your default language (either ENGLISH or HINDI) 
                        for viewing the questions by selecting your preferred language from the drop down menu under 
                        “Choose your default language” located below the “Instructions to Candidates” section.</li>
                    <li>Anytime during the paper, you can change the question viewing language of the displayed question. 
                        To change the question viewing language (either ENGLISH or HINDI) of the displayed question, 
                        select the preferred language from the drop down menu under “View in” located in the upper 
                        right side of the question viewing window.</li>
                </ul>
                <div>
                    <h4>Navigating Through Parts/Sections Of Question Paper:</h4>
                </div>
                <ul>
                    <li>Parts (PHYSICS, CHEMISTRY and MATHEMATICS) and sections of the parts thereof in the question 
                        paper are displayed on the top of the screen. Questions within a section can be viewed by 
                        clicking on the corresponding section name. The section which you will be viewing will be highlighted.</li>
                    <li>After clicking the “Save & Next” button on the last question of a part/section, you will 
                        automatically be taken to the first question of the next part/section.</li>
                    <li>You can shuffle between parts/sections and questions within parts/sections anytime during the paper as per your convenience.</li>
                    <li>You can view the corresponding section summary which will be visible in every section above the question palette.</li>
                </ul>
                <div>
                    <h4>Navigating to a Question:</h4>
                </div>
                <p>To navigate between questions, you need to do the following::</p>
                <ul>
                    <li>Click on the question number in the Question Palette at the right of the screen to go to that 
                        numbered question directly. Note that using this option does NOT save the answer (if it is 
                        answered) to the current question. To save the answer, you must click on “Save & Next” button.</li>
                    <li>Click on “Save & Next” button to save the answer for the current question and then go to the next question.</li>
                    <li>Click on “Mark for Review & Next” button to mark it for review (with or without answering the question) and go to the next question.</li>
                </ul>
                <div>
                    <h4>Answering a Question :</h4>
                </div>
                <ul>
					<li>Follow the procedure, given in “Instructions to Candidates” sheet (handed over to you before 
					    the start of the paper), for answering a particular type of question.</li>
					<li>To change the answer of a question that has already been answered, if required, first click 
					    on the “Clear Response” button to clear the saved answer and then follow the procedure for 
					    answering that type of question.</li>
					<li>To mark a question ONLY for review (i.e. without answering it), click on the “Mark for 
					    Review &amp; Next” button.</li>
					<li>To mark a question for review (after answering it), click on “Mark for Review & Next” 
					    button; the answered question which is also marked for review will be evaluated.</li>
					<li>To save the answer, click on the “Save & Next” button - the answered question will be evaluated.</li>
                </ul>
                <p>To change your answer to a question that has already been
                    answered, first select that question for answering and then follow
                    the procedure for answering that type of question.</p>
                <div>
                    <h4>End of Paper :</h4>
                </div>
                <ul>
                    <li>When the on-screen computer countdown timer on the top right corner of computer screen reaches 
                        zero, the paper will end by itself – No input from your side will be accepted after the timer 
                        reaches zero and whatever answers have been saved by you will be automatically submitted for 
                        evaluation. Note that the “Submit” button will be activated only after the timer has reached 
                        zero and the saved responses will be automatically submitted. It is NOT required to click on 
                        “Submit” after the timer has reached zero.</li>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-info btn-md"
                ng-click="startTest( 'adv' )">
            Start test
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
</div>
