<div class="section-instruction-div">
<center>
    <strong>
    SECTION {{currentQuestion.section.sectionNumber}}
    &nbsp;
    ( Maximum Marks: {{currentQuestion.section.maxMarks }} )
    </strong>
</center>
<ul>
    <li>This section contains {{currentQuestion.section.stats.numQuestions}} questions.
        Each question has TWO matching lists. Four options are given representing
        matching of elements from LIST-I and LIST-II. ONLY ONE of these four options
        corresponds to a correct matching. For each question choose the option
        corresponding to the correct matching.</li>
    <li>Answer to each question will be evaluated according to the following
        marking scheme:
        <ul>
	        <li><span class="marks-desc"><i>Full marks</i></span> : +3 If ONLY the option corresponding to the correct matching is chosen.</li>
	        <li><span class="marks-desc"><i>Zero marks</i></span> : 0 If none of the options are chosen (i.e. question is unanswered).</li>
	        <li><span class="marks-desc"><i>Negative marks</i></span> : -1 In all other cases.</li>
        </ul>
    </li>
</ul>
</div>