<div class="section-instruction-div">
<center>
    <strong>
    SECTION {{currentQuestion.section.sectionNumber}}
    &nbsp;
    ( Maximum Marks: {{currentQuestion.section.maxMarks }} )
    </strong>
</center>
<ul>
    <li>This section contains {{currentQuestion.section.stats.numQuestions}} questions.
        The answer to each question is a NUMERICAL VALUE. For each question enter
        the correct numerical value (in decimal notation, truncated/rounded off to the
        second decimal place; e.g. 6.25, 7.00, -0.33) using the mouse and on-screen
        virtual numeric keypad in the place designated to enter the answer.</li>
    <li>Answer to each question will be evaluated according to the following
        marking scheme:
        <ul>
	        <li><span class="marks-desc"><i>Full marks</i></span> : +3 If only the correct numeric value is entered as answer.</li>
	        <li><span class="marks-desc"><i>Zero marks</i></span> : 0 In all other cases.</li>
        </ul>
    </li>
</ul>
</div>