<div id="adv-section-tab-panel" class="container">
  <div class="row">
    <div class="col-sm-9">
        <button id="adv-sections-btn" type="button" class="btn btn-info btn-md action-btn">
        Sections &nbsp;
        <span id="spanhovering" class="glyphicon glyphicon-info-sign"></span>
        </button>
    </div>
    <div class="col-sm-1">
        <button type="button" 
                class="btn btn-info btn-md action-btn"
                data-toggle="modal" 
                data-target="#questionPaperDialog"
                ng-click="$parent.showQuestionPaper()">
        <span class="glyphicon glyphicon-save"></span>
        Question Paper
        </button>
    </div>
    <div class="col-sm-2" style="text-align:right;">
        <span id="timer-adv" class="badge">{{ secondsRemaining | mmss }}</span>
    </div>
  </div>
</div>

<div id="divtoshow">
    Hello there
</div>