<div class="panel panel-default" style="padding:0px; margin:0px" align="center">
  <div class="panel-body" style="padding:5px">
  <table width="100%">
    <tbody>
        <tr>
            <td width="25%">
			     <div ng-include="'../views/jeetest/config/template/topic_selection.html'">
			     </div>
            </td>
            <td width="25%">
            Column 2
            </td>
            <td width="50%">
            Column 3
            </td>
        </tr>
    </tbody>
  </table>
  </div>
</div>