<div style="padding:0px; margin:0px" align="center">
  <div class="panel-body" style="padding:5px">
  <table width="100%">
    <tbody>
        <tr>
            <td width="20%" valign="top">
			     <div ng-include="'../views/jeetest/config/template/topic_selection.html'">
			     </div>
            </td>
            <td width="420px" valign="top">
                 <div ng-include="'../views/jeetest/config/template/question_selection.html'">
                 </div>
            </td>
            <td width="*">
            </td>
        </tr>
    </tbody>
  </table>
  </div>
</div>