<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {{message}}
            </div>
            <div class="col-sm-6">
                Preview
            </div>
        </div>
    </div>  
  </div>
  <div class="panel-footer clearfix">
	  <div class="pull-right">
          <button type="button" class="btn btn-danger btn-sm">
	          Discard
          </button>
          <button type="button" class="btn btn-success btn-sm">
	          <span class="glyphicon glyphicon-floppy-disk"></span>
	          Save
          </button>
          <button type="button" class="btn btn-success btn-sm">
              <span class="glyphicon glyphicon-floppy-disk"></span>
              <span class="glyphicon glyphicon-plus"></span>
              Save & New
          </button>
          <button type="button" class="btn btn-info btn-sm">
              <span class="glyphicon glyphicon-eye-open"></span>
              Preview
	          <input type="checkbox">
	              <span class="glyphicon glyphicon-time"></span>
	          </input>
          </button>
	  </div>
  </div>
</div>