<!DOCTYPE html>
<html ng-app="sConsoleApp">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SConsole</title>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/angular-route.min.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/js/lib/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app/app.css"/>
    
    <script src="/js/app/ng/app-ng.js"></script>
    <script src="/js/app/ng/jeetest/qbm.js"></script>
</head>

<body ng-controller="QBMController">

<nav class="navbar navbar-inverse navbar-static-top"
     style="min-height:0px;margin-bottom:0px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                Question Bank Management
            </div>
            <div class="col-sm-5">
                <div class="pull-right">
				    <a href="#!/newQuestion">
				        <button type="button" class="btn btn-success">
				        <span class="glyphicon glyphicon-plus"></span>
				        New Question
				        </button>
				    </a>
	                <a href="#!/searchQuestions">
                        <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                        Search
                        </button>
	                </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div ng-view></div>

</body>
</html>