<!DOCTYPE html>
<html ng-app="sConsoleApp">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SConsole</title>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="js/lib/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app/app.css"/>
    
    <script src="js/app/ng/app-ng.js"></script>
    <script src="js/app/ng/jeetest/qbm.js"></script>
</head>

<body ng-controller="QBMController">
Hello
</body>
</html>