<table id="test-attempt-summary"
       align="center" 
       class="pure-table pure-table-horizontal">
    <tr>
        <td class="empty"></td>
        <th colspan="2" class="section-header">Overall</th>
        <th colspan="2" class="section-header">Phy</th>
        <th colspan="2" class="section-header">Chem</th>
        <th colspan="2" class="section-header">Math</th>
    </tr>
    <tr>
        <td class="empty"></td>
        <th width="75px" class="col-header">#</th>
        <th width="75px" class="col-header">Marks</th>
        <th width="75px" class="col-header">#</th>
        <th width="75px" class="col-header">Marks</th>
        <th width="75px" class="col-header">#</th>
        <th width="75px" class="col-header">Marks</th>
        <th width="75px" class="col-header">#</th>
        <th width="75px" class="col-header">Marks</th>
    </tr>
    <tr>
        <th>Total questions</th>
        <td>{{testSummary.overall.numQuestions}}</td>
        <td>{{testSummary.overall.totalMarks}}</td>
        <td>{{testSummary.phy.numQuestions}}</td>
        <td>{{testSummary.phy.totalMarks}}</td>
        <td>{{testSummary.chem.numQuestions}}</td>
        <td>{{testSummary.chem.totalMarks}}</td>
        <td>{{testSummary.math.numQuestions}}</td>
        <td>{{testSummary.math.totalMarks}}</td>
    </tr>
    <tr>
        <th>Net score</th>
        <td colspan="2">{{testSummary.overall.netScore}}</td>
        <td colspan="2">{{testSummary.phy.netScore}}</td>
        <td colspan="2">{{testSummary.chem.netScore}}</td>
        <td colspan="2">{{testSummary.math.netScore}}</td>
    </tr>
    <tr>
        <th>&nbsp;&nbsp;&nbsp;<i>Correct</i></th>
        <td>{{testSummary.overall.numCorrect}}</td>
        <td>{{testSummary.overall.correctMks}}</td>
        <td>{{testSummary.phy.numCorrect}}</td>
        <td>{{testSummary.phy.correctMks}}</td>
        <td>{{testSummary.chem.numCorrect}}</td>
        <td>{{testSummary.chem.correctMks}}</td>
        <td>{{testSummary.math.numCorrect}}</td>
        <td>{{testSummary.math.correctMks}}</td>
    </tr>
    <tr>
        <th>&nbsp;&nbsp;&nbsp;<i>Partial</i></th>
        <td>{{testSummary.overall.numPartial}}</td>
        <td>{{testSummary.overall.partialMks}}</td>
        <td>{{testSummary.phy.numPartial}}</td>
        <td>{{testSummary.phy.partialMks}}</td>
        <td>{{testSummary.chem.numPartial}}</td>
        <td>{{testSummary.chem.partialMks}}</td>
        <td>{{testSummary.math.numPartial}}</td>
        <td>{{testSummary.math.partialMks}}</td>
    </tr>
    <tr>
        <th>&nbsp;&nbsp;&nbsp;<i>Negative</i></th>
        <td>{{testSummary.overall.numNegative}}</td>
        <td>{{testSummary.overall.negativeMarks}}</td>
        <td>{{testSummary.phy.numNegative}}</td>
        <td>{{testSummary.phy.negativeMarks}}</td>
        <td>{{testSummary.chem.numNegative}}</td>
        <td>{{testSummary.chem.negativeMarks}}</td>
        <td>{{testSummary.math.numNegative}}</td>
        <td>{{testSummary.math.negativeMarks}}</td>
    </tr>
    <tr>
        <th>Total loss</th>
        <td></td>
        <td>{{testSummary.overall.totalLoss}}</td>
        <td></td>
        <td>{{testSummary.phy.totalLoss}}</td>
        <td></td>
        <td>{{testSummary.chem.totalLoss}}</td>
        <td></td>
        <td>{{testSummary.math.totalLoss}}</td>
    </tr>
    <tr>
        <th>Potential marks</th>
        <td colspan="2"><strong>{{testSummary.overall.totalMarks - testSummary.overall.unavoidableTotalMks}}</strong></td>
        <td colspan="2"><strong>{{testSummary.phy.totalMarks - testSummary.phy.unavoidableTotalMks}}</strong></td>
        <td colspan="2"><strong>{{testSummary.chem.totalMarks - testSummary.chem.unavoidableTotalMks}}</strong></td>
        <td colspan="2"><strong>{{testSummary.math.totalMarks - testSummary.math.unavoidableTotalMks}}</strong></td>
    </tr>
    <tr class="indent">
        <th class="indent">Avoidable</th>
        <td>{{testSummary.overall.numAvoidableTotal}}</td>
        <td><strong>{{testSummary.overall.avoidableTotalMks}}</strong></td>
        <td>{{testSummary.phy.numAvoidableTotal}}</td>
        <td><strong>{{testSummary.phy.avoidableTotalMks}}</strong></td>
        <td>{{testSummary.chem.numAvoidableTotal}}</td>
        <td><strong>{{testSummary.chem.avoidableTotalMks}}</strong></td>
        <td>{{testSummary.math.numAvoidableTotal}}</td>
        <td><strong>{{testSummary.math.avoidableTotalMks}}</strong></td>
    </tr>
    <tr class="double-indent">
        <th class="double-indent">Recollection</th>
        <td>{{testSummary.overall.numRecollection}}</td>
        <td>{{testSummary.overall.recollectionMks}}</td>
        <td>{{testSummary.phy.numRecollection}}</td>
        <td>{{testSummary.phy.recollectionMks}}</td>
        <td>{{testSummary.chem.numRecollection}}</td>
        <td>{{testSummary.chem.recollectionMks}}</td>
        <td>{{testSummary.math.numRecollection}}</td>
        <td>{{testSummary.math.recollectionMks}}</td>
    </tr>
    <tr class="double-indent">
        <th class="double-indent">Calculation</th>
        <td>{{testSummary.overall.numCalculation}}</td>
        <td>{{testSummary.overall.calculationMks}}</td>
        <td>{{testSummary.phy.numCalculation}}</td>
        <td>{{testSummary.phy.calculationMks}}</td>
        <td>{{testSummary.chem.numCalculation}}</td>
        <td>{{testSummary.chem.calculationMks}}</td>
        <td>{{testSummary.math.numCalculation}}</td>
        <td>{{testSummary.math.calculationMks}}</td>
    </tr>
    <tr class="double-indent">
        <th class="double-indent">Interpretation</th>
        <td>{{testSummary.overall.numInterpretation}}</td>
        <td>{{testSummary.overall.interpretationMks}}</td>
        <td>{{testSummary.phy.numInterpretation}}</td>
        <td>{{testSummary.phy.interpretationMks}}</td>
        <td>{{testSummary.chem.numInterpretation}}</td>
        <td>{{testSummary.chem.interpretationMks}}</td>
        <td>{{testSummary.math.numInterpretation}}</td>
        <td>{{testSummary.math.interpretationMks}}</td>
    </tr>
    <tr class="double-indent">
        <th class="double-indent">Concept</th>
        <td>{{testSummary.overall.numConcept}}</td>
        <td>{{testSummary.overall.conceptMks}}</td>
        <td>{{testSummary.phy.numConcept}}</td>
        <td>{{testSummary.phy.conceptMks}}</td>
        <td>{{testSummary.chem.numConcept}}</td>
        <td>{{testSummary.chem.conceptMks}}</td>
        <td>{{testSummary.math.numConcept}}</td>
        <td>{{testSummary.math.conceptMks}}</td>
    </tr>
    <tr class="double-indent">
        <th class="double-indent">Simple Lateral</th>
        <td>{{testSummary.overall.numLateral}}</td>
        <td>{{testSummary.overall.lateralMks}}</td>
        <td>{{testSummary.phy.numLateral}}</td>
        <td>{{testSummary.phy.lateralMks}}</td>
        <td>{{testSummary.chem.numLateral}}</td>
        <td>{{testSummary.chem.lateralMks}}</td>
        <td>{{testSummary.math.numLateral}}</td>
        <td>{{testSummary.math.lateralMks}}</td>
    </tr>
    <tr class="double-indent">
        <th class="double-indent">Stupidity</th>
        <td>{{testSummary.overall.numStupid}}</td>
        <td>{{testSummary.overall.stupidMks}}</td>
        <td>{{testSummary.phy.numStupid}}</td>
        <td>{{testSummary.phy.stupidMks}}</td>
        <td>{{testSummary.chem.numStupid}}</td>
        <td>{{testSummary.chem.stupidMks}}</td>
        <td>{{testSummary.math.numStupid}}</td>
        <td>{{testSummary.math.stupidMks}}</td>
    </tr>
    <tr class="double-indent">
        <th class="double-indent">Judgement error</th>
        <td>{{testSummary.overall.numJudgementError}}</td>
        <td>{{testSummary.overall.judgementErrorMks}}</td>
        <td>{{testSummary.phy.numJudgementError}}</td>
        <td>{{testSummary.phy.judgementErrorMks}}</td>
        <td>{{testSummary.chem.numJudgementError}}</td>
        <td>{{testSummary.chem.judgementErrorMks}}</td>
        <td>{{testSummary.math.numJudgementError}}</td>
        <td>{{testSummary.math.judgementErrorMks}}</td>
    </tr>
    <tr class="double-indent">
        <th class="double-indent">Unwarranted risk</th>
        <td>{{testSummary.overall.numUnwarrantedRisk}}</td>
        <td>{{testSummary.overall.unwarrantedRiskMks}}</td>
        <td>{{testSummary.phy.numUnwarrantedRisk}}</td>
        <td>{{testSummary.phy.unwarrantedRiskMks}}</td>
        <td>{{testSummary.chem.numUnwarrantedRisk}}</td>
        <td>{{testSummary.chem.unwarrantedRiskMks}}</td>
        <td>{{testSummary.math.numUnwarrantedRisk}}</td>
        <td>{{testSummary.math.unwarrantedRiskMks}}</td>
    </tr>
    <tr class="indent">
        <th class="indent">Unavoidable</th>
        <td>{{testSummary.overall.numUnavoidableTotal}}</td>
        <td>{{testSummary.overall.unavoidableTotalMks}}</td>
        <td>{{testSummary.phy.numUnavoidableTotal}}</td>
        <td>{{testSummary.phy.unavoidableTotalMks}}</td>
        <td>{{testSummary.chem.numUnavoidableTotal}}</td>
        <td>{{testSummary.chem.unavoidableTotalMks}}</td>
        <td>{{testSummary.math.numUnavoidableTotal}}</td>
        <td>{{testSummary.math.unavoidableTotalMks}}</td>
    </tr>
    <tr class="double-indent">
        <th class="double-indent">Unknown concept</th>
        <td>{{testSummary.overall.numUnknownConcept}}</td>
        <td>{{testSummary.overall.unknownConceptMks}}</td>
        <td>{{testSummary.phy.numUnknownConcept}}</td>
        <td>{{testSummary.phy.unknownConceptMks}}</td>
        <td>{{testSummary.chem.numUnknownConcept}}</td>
        <td>{{testSummary.chem.unknownConceptMks}}</td>
        <td>{{testSummary.math.numUnknownConcept}}</td>
        <td>{{testSummary.math.unknownConceptMks}}</td>
    </tr>
    <tr class="double-indent">
        <th class="double-indent">WTF</th>
        <td>{{testSummary.overall.numWtf}}</td>
        <td>{{testSummary.overall.wtfMks}}</td>
        <td>{{testSummary.phy.numWtf}}</td>
        <td>{{testSummary.phy.wtfMks}}</td>
        <td>{{testSummary.chem.numWtf}}</td>
        <td>{{testSummary.chem.wtfMks}}</td>
        <td>{{testSummary.math.numWtf}}</td>
        <td>{{testSummary.math.wtfMks}}</td>
    </tr>
    <tr class="double-indent">
        <th class="double-indent">WTF - Lateral</th>
        <td>{{testSummary.overall.numWtfLateral}}</td>
        <td>{{testSummary.overall.wtfLateralMks}}</td>
        <td>{{testSummary.phy.numWtfLateral}}</td>
        <td>{{testSummary.phy.wtfLateralMks}}</td>
        <td>{{testSummary.chem.numWtfLateral}}</td>
        <td>{{testSummary.chem.wtfLateralMks}}</td>
        <td>{{testSummary.math.numWtfLateral}}</td>
        <td>{{testSummary.math.wtfLateralMks}}</td>
    </tr>
    <tr class="double-indent">
        <th class="double-indent">Abandoned - Lengthy</th>
        <td>{{testSummary.overall.numLengthy}}</td>
        <td>{{testSummary.overall.lengthyMks}}</td>
        <td>{{testSummary.phy.numLengthy}}</td>
        <td>{{testSummary.phy.lengthyMks}}</td>
        <td>{{testSummary.chem.numLengthy}}</td>
        <td>{{testSummary.chem.lengthyMks}}</td>
        <td>{{testSummary.math.numLengthy}}</td>
        <td>{{testSummary.math.lengthyMks}}</td>
    </tr>
</table>
