<div>
 <table style="width:100%">
  <tr>
   <td width="350px" valign="top">
    <div ng-include="'../views/jeetest/analysis/template/rc_analysis_filter.html'">
    </div>
   </td>
   <td width="*" valign="top">
    <div ng-include="'../views/jeetest/analysis/template/rc_detail_table.html'">
    </div>
   </td>
  </tr>
 </table>
</div>

<div id="questionsDisplayDialog" 
     class="modal fade" 
     role="dialog">
  <div class="modal-dialog" style="width:1000px;">
    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header" style="background-color:#E5E5E5;padding:5px">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Selected questions : {{selectedQuestionsRC}}</h4>
      </div>
      <div class="modal-body" style="background-color:#FEFEFE;padding:5px"
           id="test-question-display-in-lap-analysis">
	        <div ng-repeat="selectedQuestion in selectedQuestions">
	            <table align="center" class="pure-table pure-table-horizontal">
	                <tr>
	                    <th width="20%">Question ID</th>
	                    <td width="30%">{{selectedQuestion.id}}</td>
	                    <th width="20%">Subject</th>
	                    <td width="30%">{{selectedQuestion.subject.name}}</td>
	                </tr>
	                <tr>
	                    <th>Topic</th>
	                    <td>{{selectedQuestion.topic.topicName}}</td>
	                    <th>Book</th>
	                    <td>{{selectedQuestion.book.bookShortName}}</td>
	                </tr>
	                <tr>
	                    <th>Question type</th>
	                    <td>{{selectedQuestion.questionType}}</td>
	                    <th>Question reference</th>
	                    <td>{{selectedQuestion.questionRef}}</td>
	                </tr>
	                <tr>
	                    <th>Correct answer</th>
	                    <td>{{selectedQuestion.answerText}}</td>
	                    <th></th>
	                    <td></td>
	                </tr>
	            </table>
	            <div id="test-question-render">
	                <render-test-summary-question></render-test-summary-question>
	            </div>
	            <hr size="30"/>        
	        </div>
      </div>
    </div>
  </div>
</div>

<div id="effGraphDialog" 
     class="modal fade" 
     role="dialog">
  <div class="modal-dialog" style="width:820px;">
    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header" style="background-color:#E5E5E5;padding:5px">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="background-color:#FEFEFE;padding:5px">
        <img ng-src="{{effGraphImgPath}}"
             width="800"/>
      </div>
    </div>
  </div>
</div>