<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SConsole</title>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="js/lib/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app/app.css"/>
    
    <script src="js/app/ng/app-ng.js"></script>
</head>
<body>

<div class="header" style="display: table;">
    <div style="display: table-cell; vertical-align: middle;">
        <div>SConsole</div>
    </div>
</div>

<div>
  <div class="calc-body">
    <div class="calc-button-row">
      <div class="button t"><a href="#">C</a></div>
      <div class="button t">≠</div>
      <div class="button t">%</div>
      <div class="button t">/</div>
      <div class="button t">/</div>
    </div>
    <div class="calc-button-row">
      <div class="button t"><a href="#">C</a></div>
      <div class="button t">≠</div>
      <div class="button t">%</div>
      <div class="button t">/</div>
      <div class="button t">/</div>
    </div>
    <div class="calc-button-row">
      <div class="button c">C</div>
      <div class="button l">≠</div>
      <div class="button l">%</div>
      <div class="button l">/</div>
    </div>
    <div class="calc-button-row">
      <div class="button c">C</div>
      <div class="button l">≠</div>
      <div class="button l">%</div>
      <div class="button l">/</div>
    </div>
    <div class="calc-button-row">
      <div class="button">7</div>
      <div class="button">8</div>
      <div class="button">9</div>
      <div class="button l">x</div>
    </div>
    <div class="calc-button-row">
      <div class="button">4</div>
      <div class="button">5</div>
      <div class="button">6</div>
      <div class="button l">−</div>
    </div>
    <div class="calc-button-row">
      <div class="button">1</div>
      <div class="button">2</div>
      <div class="button">3</div>
      <div class="button l">+</div>
    </div>
    <div class="calc-button-row">
      <div class="button">.</div>
      <div class="button">0</div>
      <div class="button">
        <</div>
          <div class="button l">=</div>
      </div>
    </div>
  </div>
  
</body>
</html>