<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SConsole</title>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="js/lib/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app/app.css"/>
    
    <script src="js/app/ng/app-ng.js"></script>
</head>
<body>

<div class="header" style="display: table;">
    <div style="display: table-cell; vertical-align: middle;">
        <div>SConsole</div>
    </div>
</div>

<div class="remote-body">
  <div class="remote-row-separator"></div>
  <div class="remote-button-row">
    <div class="button screenlet"><a href="#">S1</a></div>
    <div class="button screenlet"><a href="#">S2</a></div>
    <div class="button screenlet"><a href="#">S3</a></div>
    <div class="button screenlet"><a href="#">S4</a></div>
    <div class="button screenlet"><a href="#">S5</a></div>
  </div>
  
  <div class="remote-nav-row">
    <div class="button nav-blank"></div>
    <div class="button nav">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </div>
    <div class="button nav-blank"></div>
  </div>
  <div class="remote-nav-row">
    <div class="button nav">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </div>
    <div class="button nav">
        <span class="glyphicon glyphicon-ok-sign"></span>
    </div>
    <div class="button nav">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </div>
  </div>
  <div class="remote-nav-row">
    <div class="button nav-blank"></div>
    <div class="button nav">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    <div class="button nav-blank"></div>
  </div>
  
  <div class="remote-button-row">
    <div class="button start-stop">
        <span class="glyphicon glyphicon-play"></span>
    </div>
    <div class="button start-stop">
        <span class="glyphicon glyphicon-stop"></span>
    </div>
  </div>

  <div class="remote-row-separator"></div>

  <div class="remote-button-row">
    <div class="button fn" style="background-color:#3C979E">A</div>
    <div class="button fn" style="background-color:#7A9B2E">B</div>
    <div class="button fn" style="background-color:#B96F1B">C</div>
    <div class="button fn" style="background-color:#007C85">D</div>
  </div>
  <div class="remote-button-row">
    <div class="button fn" style="background-color:#95ADBE">E</div>
    <div class="button fn" style="background-color:#BB545F">F</div>
    <div class="button fn" style="background-color:#428131">G</div>
    <div class="button fn" style="background-color:#C5852F">H</div>
  </div>

  <div class="remote-row-separator"></div>
  <div class="remote-row-separator"></div>

  <div class="remote-button-row">
    <div class="button route">Config</div>
    <div class="button route">-</div>
    <div class="button route">-</div>
    <div class="button route">-</div>
  </div>
</div>
  
</body>
</html>