<!DOCTYPE html>
<html ng-app="sConsoleApp">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SConsole</title>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/angular-route.min.js"></script>
    <script src="/js/lib/jquery-2.1.1.min.js"></script>
    <script src="/js/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/bootstrap/transition.js"></script>
    <script src="/js/lib/bootstrap/collapse.js"></script>
    <script src="/js/lib/bootstrap/bootstrap-datetimepicker.js"></script>
    
    <link rel="stylesheet" href="/css/app/app.css"/>
    <link rel="stylesheet" href="/js/lib/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/js/lib/bootstrap/bootstrap-datetimepicker.css"/>

    <script src="/js/app/ng/app-ng.js"></script>
    <script src="/js/app/ng/screenshot/controller.js"></script>
</head>
<body ng-controller="ScreenshotController">

<nav class="navbar navbar-inverse navbar-static-top">
    <button type="button" class="btn btn-success btn-lg"
            ng-click="captureScreenshot()">Capture Screenshot</button>
</nav>

<img ng-src="screenshot/{{imgName}}" 
     style="max-width:100%"/>

</body>
</html>