<div class="panel-group" id="accordion"
     style="font-size:12px;padding:10px;">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#subjectChoice">
        Subject
        </a>
      </h4>
    </div>
    <div id="subjectChoice" class="panel-collapse collapse in">
        <select id="subjectChoiceList" 
                class="form-control" 
                multiple="true" 
                size=3
                ng-model="searchCriteria.selectedSubjects"
                ng-options="obj for obj in searchMaster.subjectNames">
        </select>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#questionTypeChoice">
        Question Type
        </a>
      </h4>
    </div>
    <div id="questionTypeChoice" class="panel-collapse collapse">
        <select id="questionTypeList" 
                class="form-control" 
                size=6
                ng-model="searchCriteria.questionType"
                ng-options="obj for obj in searchMaster.questionTypes">
        </select>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#resultChoice">
        Result
        </a>
      </h4>
    </div>
    <div id="resultChoice" class="panel-collapse collapse">
        <select id="resultChoiceList" 
                class="form-control" 
                size=4
                ng-model="searchCriteria.resultType"
                ng-options="obj for obj in searchMaster.resultTypes">
        </select>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#attemptLapsChoice">
        Attempt Laps
        </a>
      </h4>
    </div>
    <div id="attemptLapsChoice" class="panel-collapse collapse">
        <select id="attemptLapChoiceList" 
                class="form-control" 
                size=8
                multiple
                ng-model="searchCriteria.attemptLaps"
                ng-options="obj for obj in searchMaster.attemptLaps">
        </select>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#answeredInLapsChoice">
        Answered in laps
        </a>
      </h4>
    </div>
    <div id="answeredInLapsChoice" class="panel-collapse collapse">
        <select id="answeredInLapsChoiceList" 
                class="form-control" 
                size=8
                multiple
                ng-model="searchCriteria.answeredInLaps"
                ng-options="obj for obj in searchMaster.attemptLaps">
        </select>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#timeSpentChoice">
        Time Spent
        </a>
      </h4>
    </div>
    <div id="timeSpentChoice" class="panel-collapse collapse">
        <select id="timeSpentChoiceList" 
                class="form-control" 
                size=9
                multiple
                ng-model="searchCriteria.timeSpentChoices"
                ng-options="obj for obj in searchMaster.timeSpentChoices">
        </select>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#rcaChoice">
        Error Root Causes
        </a>
      </h4>
    </div>
    <div id="rcaChoice" class="panel-collapse collapse">
        <select id="rcaList" 
                class="form-control" 
                size=10
                multiple
                ng-model="searchCriteria.errorRCAChoices"
                ng-options="item as item.displayName for item in searchMaster.rcOptions track by item.id">
        </select>
    </div>
  </div>
  <hr style="height:10px;">
  <button class="btn btn-info btn-sm"
	        ng-click="clearFilters()">
    <span class="glyphicon glyphicon-refresh"></span>
  </button>
</div>


