<div class="panel panel-default" style="padding:0px; margin:0px" align="center">
  <div class="panel-body" style="padding:5px">
	<div>
	    <canvas id="subject_bar" width="600" height="150">
	        [No canvas support]
	    </canvas>
	</div>
	<p>
	<div>
	    <ul class="nav nav-tabs">
	      <li class="active"><a data-toggle="tab" data-target="#qb_phy_insights">IIT - Physics</a></li>
	      <li><a data-toggle="tab" data-target="#qb_chem_insights">IIT - Chemistry</a></li>
	      <li><a data-toggle="tab" data-target="#qb_maths_insights">IIT - Maths</a></li>
	    </ul>
	    
	    <div class="tab-content">
	      <div id="qb_phy_insights" class="tab-pane fade in active">
	        <h3>Physics</h3>
	        <p>Some content.</p>
	      </div>
	      <div id="qb_chem_insights" class="tab-pane fade">
	        <h3>Chemistry</h3>
	        <p>Some content in menu 1.</p>
	      </div>
	      <div id="qb_maths_insights" class="tab-pane fade">
	        <h3>Maths</h3>
	        <p>Some content in menu 2.</p>
	      </div>
	    </div>
	</div>
  </div>
</div>