<div class="split left">
	<div class="panel-group" id="accordion">
	  
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="#subjectChoice">
	        Subject
	        </a>
	      </h4>
	    </div>
	    <div id="subjectChoice" class="panel-collapse collapse in">
	        <select id="subjectChoiceList" 
	                class="form-control" 
	                multiple="true" 
	                size=3
	                ng-model="$parent.searchCriteria.selectedSubjects"
	                ng-options="obj for obj in $parent.qbmMasterData.subjectNames"
	                ng-change="subjectSelectionChanged()">
	        </select>
        </div>
	  </div>
	  
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="#topicChoice">
	        Topic
	        </a>
	      </h4>
	    </div>
	    <div id="topicChoice" class="panel-collapse collapse">
            <select id="topicChoiceList" 
                    class="form-control" 
                    multiple="true" 
                    size=15
                    ng-model="$parent.searchCriteria.selectedTopics"
                    ng-options="item as item.topicName for item in topicsMasterList">
            </select>
	    </div>
	  </div>
	  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#bookChoice">
            Book
            </a>
          </h4>
        </div>
        <div id="bookChoice" class="panel-collapse collapse">
            <select id="bookChoiceList" 
                    class="form-control" 
                    multiple="true" 
                    size=15
                    ng-model="$parent.searchCriteria.selectedBooks"
                    ng-options="item as item.bookName for item in booksMasterList">
            </select>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#questionTypeChoice">
            Question type
            </a>
          </h4>
        </div>
        <div id="questionTypeChoice" class="panel-collapse collapse">
            <select id="questionTypeChoiceList" 
                    class="form-control" 
                    multiple="true" 
                    size=5
                    ng-model="$parent.searchCriteria.selectedQuestionTypes"
                    ng-options="item for item in $parent.qbmMasterData.questionTypes">
            </select>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Containing text</h4>
        </div>
        <div class="panel-body" style="padding:5px">
           <input type="text" 
                  ng-model="$parent.searchCriteria.searchText" 
                  style="width:100%"/>
           </td>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Assigned to test</h4>
        </div>
        <div class="panel-body" style="padding:5px">
           <input type="text" 
                  ng-model="$parent.searchCriteria.testConfigId" 
                  style="width:100%"/>
           </td>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Miscellaneous</h4>
        </div>
        <div class="panel-body" style="padding:5px">
			<div class="form-group">
			    <input id="showOnlyUnsynched" 
			           type="checkbox" 
			           ng-model="$parent.searchCriteria.showOnlyUnsynched" />
			    <label for="showOnlyUnsynched"> Only unsynched</label>
			</div>
			<div class="form-group">
			    <input id="excludeAttempted" 
			           type="checkbox" 
			           ng-model="$parent.searchCriteria.excludeAttempted" />
			    <label for="excludeAttempted"> Exclude attempted</label>
			</div>
        </div>
      </div>
      
      <div class="pull-right" style="margin-top:10px">
          <button type="button" class="btn btn-info btn-md"
                  ng-click="executeSearch()">
              Search
          </button>
      </div>

	</div>
</div>

<div class="split right">
    <div style="height:36px">
	    <div>
	       <table width="25%">
            <tr>
                <td>
		            <button type="button" class="btn btn-info btn-md"
		                  ng-click="syncTop10Questions()">
		              <span class="glyphicon glyphicon-share-alt"></span>
		            </button>
                    <button type="button" class="btn btn-info btn-md"
                          ng-click="automateSyncAllQuestions()">
                      <span class="glyphicon glyphicon-retweet"></span>
                      <span class="glyphicon glyphicon-cloud-upload"></span>
                    </button>
		       </td>
		       <td>
		            <select id="actionList" 
		                    class="form-control" 
		                    ng-model="actionCmd"
		                    ng-options="item for item in actionCmdList"
		                    ng-change="actionCmdChanged()">
		            </select>
                </td>
            </tr>
	       </table>
	    </div>
    </div>
	<div class="panel panel-success" 
	     ng-repeat="question in searchResults"
	     ng-show="isQuestionVisible( question )">
	  <div class="panel-heading">
        <input type="checkbox" 
               ng-model="question.selected" />
	    <span class="panel-title">Question - {{question.id}}</span>
	    &nbsp;
	    <a ng-hide="question.synched" 
	       ng-click="syncQuestion( question )"
	       style="color:#0000FF">
	       <span class="glyphicon glyphicon-cloud-upload"></span>
	    </a>
	    <div class="pull-right"> 
          <button type="button" class="btn btn-danger btn-sm"
                  ng-click="deleteQuestion( $index )">
              <span class="glyphicon glyphicon-trash"></span>
          </button>
          <button type="button" class="btn btn-info btn-sm"
                  ng-click="editQuestion( question.id )">
              <span class="glyphicon glyphicon-pencil"></span>
          </button>
	    </div>
	  </div>
	  <div class="panel-body">
        <table class="pure-table pure-table-horizontal question-meta">
            <tr>
                <th width="20%">Subject</th>
                <td width="30%">{{question.subject.name}}</td>
                <th width="20%">Topic</th>
                <td width="30%">{{question.topic.topicName}}</td>
            </tr>
            <tr>
                <th>Book</th>
                <td>{{question.book.bookShortName}}</td>
                <th>Type</th>
                <td>{{question.questionType}}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td colspan="3">{{question.questionRef}}</td>
            </tr>
        </table>
	    <render-test-question-on-search-page></render-test-question-on-search-page>
	  </div>
	</div> 
</div>