<div class="remote-nav-row">
  <div class="button nav"
       ng-click="btnPressed( 'TimeProjection', '30' )">
      <span class="badge proj-time">30 sec</span>
  </div>
  <div class="button nav"
       ng-click="btnPressed( 'TimeProjection', '60' )">
      <span class="badge proj-time">01 min</span>
  </div>
  <div class="button nav"
       ng-click="btnPressed( 'TimeProjection', '120' )">
      <span class="badge proj-time">02 min</span>
  </div>
</div>
<div class="remote-nav-row">
  <div class="button nav"
       ng-click="btnPressed( 'TimeProjection', '180' )">
      <span class="badge proj-time">03 min</span>
  </div>
  <div class="button nav"
       ng-click="btnPressed( 'TimeProjection', '240' )">
      <span class="badge proj-time">04 min</span>
  </div>
  <div class="button nav"
       ng-click="btnPressed( 'TimeProjection', '300' )">
      <span class="badge proj-time">05 min</span>
  </div>
</div>
<div class="remote-nav-row">
  <div class="button nav"
       ng-click="btnPressed( 'TimeProjection', '420' )">
      <span class="badge proj-time">07 min</span>
  </div>
  <div class="button nav"
       ng-click="btnPressed( 'TimeProjection', '600' )">
      <span class="badge proj-time">10 min</span>
  </div>
  <div class="button nav"
       ng-click="btnPressed( 'TimeProjection', '900' )">
      <span class="badge proj-time">&gt; 15 min</span>
  </div>
</div>
